[submodule ".config/alacritty/alacritty/themes"]
	path = .config/alacritty/alacritty/themes
	url = https://github.com/alacritty/alacritty-theme
[submodule ".config/alacritty/themes"]
	path = .config/alacritty/themes
	url = https://github.com/alacritty/alacritty-theme
